<!DOCTYPE html>
<html>
<head>
  <title>Mini Meteo Plus</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <div class="container">
    <div class="text-center mt-3">
      <h1 class="h1">Mini Meteo Plus</h1>
      <p>Inserisci la citt&agrave; di cui vuoi visualizzare il meteo adesso</p>
    </div>

    <div class="mb-3" , align="center">
      <input type="text" placeholder="Inserisci la Città" class="form-control input_text" id="cityInput">
      <div class="mt-2">
        <button class="btn btn-primary submit" id="submitButton">Cerca</button>
      </div>
    </div>
    <div class="mt-5" align="center">
      <div class="card" id="weatherCard">
        <h1 class="card-title name" id="name"></h1>
        <img class="card-img icon">
        <p class="card-text temp"></p>
        <p class="card-text clouds"></p>
        <p class="card-text desc"></p>
        <p class="card-text temp_min"></p>
        <p class="card-text temp_max"></p>
        <p class="card-text umidità"></p>
        <p class="card-text velo_vento"></p>
      </div>
    </div>
  </div>

  <script type=text/javascript src="{{url_for('static', filename='js/app.js') }}"></script>
</body>
</html>